**/.git
**/.git/**
**/node_modules
**/node_modules/**
**/.next
**/.next/**
**/dist
**/dist/**
**/target
**/target/**
**/.quarkus
**/.quarkus/**
**/.idea
**/.idea/**
**/.vscode
**/.vscode/**
**/*.log
**/*.tar
.env*
